<style>
  /* Navigation Bar Styles */
  .navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
  }

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff !important;
    transition: color 0.3s ease;
    margin-left: 15px;
  }

  .navbar-brand:hover {
    color: #007bff;
  }

  .navbar-nav .nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: #555;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 0.25rem;
  }

  .navbar-nav .nav-link:hover {
    color: #007bff;
    background-color: #000000 ;
  }

  .navbar-nav .nav-link.active {
    color: #007bff;
    font-weight: 600;
    background-color: #f8f9fa;
  }

  .form-control {
    border-radius: 20px;
    border-color: #ddd;
    padding: 0.5rem 1rem;
    transition: border-color 0.3s ease;
  }

  .form-control:focus {
    border-color: #007bff;
    box-shadow: none;
  }

  .btn-search{
    background-color: rgb(242, 188, 112);
    color: white;
    border-radius: 25px !important;
  }
  .btn-search:hover{
    background-color: rgb(237, 170, 76);
    color: white;
    border-radius: 25px;
  }

</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-hotel"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Home</a>
        <!-- <a class="nav-link" href="/listings">All Rooms</a> -->
      </div>
      <div class="navbar-nav ms-auto">
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search sweets" aria-label="Search">
          <button class="btn btn-search" type="submit">Search</button>
        </form> -->
      </div>
      <div class="navbar-nav ms-auto">
        <% if((currUser)) { %>
        <a class="nav-link" href="/listings/new">Add new Room</a>
        <% } %>
        <% if((!currUser)) { %>
        <a class="nav-link" href="/signup"><b>Signup</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %>
        <% if((currUser)) { %>
        <a class="nav-link" href="/logout"><b>Log Out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>